@using WebSEnR.Models.ProjectsModel
@model IEnumerable<UniProject>

<div class="container-fluid">
<div class="container">
    <h2>List of university projects</h2>
    <a class= "btn btn-primary btn-sm", href="/Projects/CreateUniProject">New Project</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="3%">Stt</th>
                <th width="20%">Tên đề tài</th>
                <th width="20%">Người thực hiện</th>
                <th width="30%">Mô tả</th>
                <th width="20%">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var upt in Model.Reverse())
            {                
                <tr>
                    <td>@upt.Id</td>
                    <td>@upt.Name</td>
                    <td>@upt.Member</td>
                    <td>@upt.Description</td>
                    <td>@upt.Href</td>
                    <td>
                            <a type="btn btn-success" asp-controller="Projects" asp-action="EditUniProject" asp-route-id="@upt.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a type="btn btn-success" asp-controller="Projects" asp-action="DeleteUniProject" asp-route-id="@upt.Id" class="btn btn-sm btn-outline-secondary">Delete</a>

                    </td>
                </tr>  
            }
        </tbody>
    </table>
</div>
</div>